.sl-g{
    display: grid;
    justify-content: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 1%;
    grid-row-gap: 1%;
    grid-template-areas: 
    "car1 car1 car2 car3 car3"
    "car1 car1 car4 car3 car3";
    
}
.car{
    padding: 10% 0 5% 10%;
}

.imggg{
    width: 90%;
    height: 90%;
    object-fit: cover;
}

.car-1{
    grid-area: car1;
}
.car-2{
    grid-area: car2;   
}
.car-3{
    grid-area: car3;
}
.car-4{
    grid-area: car4;
}



